body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
    padding: 16px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text-main, .logo {
    color: #f9faf8;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 900;
    margin: 0%;
}

.logo {
    font-size: 24px;
    margin-right: auto;
}

.hero-text-secondary, .header-link {
    color: #e5e7eb;
    font-size: 18px;
}

.signup-button {
    color: #f9faf8;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
    width: 75%;
}

.hero-content {
    display: flex;
    width: 75%;
    margin: 48px;
    gap: 24px;
    align-items: stretch;
}

.hero-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    background-color: grey;
    width: 75%;
    height: 200px;
}