body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
    padding: 16px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text-main, .logo, .action-header {
    color: #f9faf8;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 900;
    margin: 0%;
}

.logo, .action-header {
    font-size: 24px;
    margin-right: auto;
    font-weight: 900;
}

.hero-text-secondary, .header-link, .action-text {
    color: #e5e7eb;
    font-size: 18px;
}

.signup-button {
    color: #f9faf8;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
    width: 75%;
}

.hero-content {
    display: flex;
    width: 75%;
    margin: 48px;
    gap: 5%;
    justify-content: space-between;
    align-items: stretch;
}

.hero-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.hero-img {
    background-color: grey;
    width: 75%;
    height: 200px;
    border: 0;
}

.signup-button {
    background-color: #3882f6;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
}

.information {
    width: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 120px;
    text-align: center;
}

.thumbnail-img {
    border: 3px solid #3882f6;
    border-radius: 12px;
    width: 120px;
    height: 120px;
}

.quote {
    background-color: #e5e7eb;
    width: auto;
    padding: 60px;
}

.quote-container {
    width: 33%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin: 16px auto 8px;
}

.quote-attribution {
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    align-self: flex-end;
    margin: 0;
}

.action {
    display: flex;
    width: 75%;
    margin: auto;
    gap: 5%;
    justify-content: space-between;
    align-items: stretch;
    background-color: #3882f6;
}

.action-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action-header {
    margin: 0%;
}

.action-text {
    margin: 0%;
}